# Some private files, e.g. SSH key files
files/*
!files/.keep

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ansible inventory
ansible/inventory/hosts
