# Some private files, e.g. SSH key files
files/*
!files/.keep

#  Local .terraform directories
**/.terraform/*

# Dependency Lock File
terraform/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ansible inventory
ansible/inventory/hosts

# Editors
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store

# Claude Code
CLAUDE.md
