[defaults]
inventory = ./inventory/hosts
private_key_file = ../files/k8s-dev-cluster
remote_user = root
host_key_checking = accept-new
# vault_password_file = ~/.vault_pass
# Alternatively: use --ask-vault-pass with ansible-playbook
