# Values for gitea-charts/gitea

image:
  registry: docker.io
  repository: gitea/gitea
  tag: latest
  rootless: false

ingress:
  enabled: true
  className: public
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: www.gitea.local
      paths:
        - path: /
          pathType: Prefix

service:
  http:
    type: ClusterIP
    clusterIP: ""
    port: 3000
  ssh:
    type: NodePort
    port: 22
    nodePort: 30222

persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteMany
  claimName: gitea-shared-storage

gitea:
  admin:
    existingSecret: ""
    username: gitea_admin
    password: gitea_admin
    email: "gitea@local.domain"
  config:
    APP_NAME: "Gitea"
    server:
      DOMAIN: www.gitea.local
      ROOT_URL: "http://www.gitea.local/"
      SSH_PORT: 30222
      SSH_LISTEN_PORT: 2222
    service:
      REQUIRE_SIGNIN_VIEW: false
      DISABLE_REGISTRATION: false
    openid:
      ENABLE_OPENID_SIGNIN: true
    security:
      INSTALL_LOCK: false

postgresql-ha:
  enabled: false

postgresql:
  enabled: true
  global:
    postgresql:
      auth:
        username: gitea
        password: gitea
        database: gitea
  primary:
    persistence:
      size: 10Gi

valkey-cluster:
  enabled: false

valkey:
  enabled: true
  architecture: standalone
  auth:
    enabled: true
    password: gitea

mariadb:
  enabled: false
